<form action="/addUsuario" method="POST">
    <p>Cadastro de Usuario</p>
    <p2>Nome</p2>
    <input type="text" name="nome">

    <p2>Sobrenome</p2>
    <input type="text" name="sobrenome">

    <p2>Data de Nascimento</p2>
    <input type="text" name="dataDeNascimento">

    <p2>Login</p2>
    <input type="text" name="login">

    <p2>Senha</p2>
    <input type="password" name="senha">

    <button type="submit">
        Cadastrar
    </button>

</form>