<form action="/addCliente" method="POST">
<p>Cadastro de Clientes</p>
<p2>Razao Social</p2>
<input type="text" name="razaoSocial">

<p2>Nome Fantasia</p2>
<input type="text" name="nomeFantasia">

<p2>CNPJ</p2>
<input type="text" name="cnpj">

<p2>Longradouro</p2>
<input type="text" name="longradouro">

<p2>Conexao Remota</p2>
<input type="text" name="conxRem">

<p2>Tipo de Conexao Remota</p2>
<input type="text" name="tipoConxRem">

<button type="submit" >OK</button>

</form>